@model ElectronicEquipmentsService.Data.Execute

@{
    ViewData["Title"] = "Details";
}
<style>
    body {
        background-color: lightcyan;
    }
</style>
<h1>Details</h1>

<div>
    <h4>Execute</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Order)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Order.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Discription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Discription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Warrantly)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Warrantly)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusOfOrder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusOfOrder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
