@model IEnumerable<ElectronicEquipmentsService.Data.Execute>

@{
    ViewData["Title"] = "Index";
}
<style>
    body {
        background-color: lightcyan;
    }
</style>
<h1>Index</h1>


        <a asp-action="Create">Create New</a>
  

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Order)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Warrantly)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusOfOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Order.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Warrantly)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusOfOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
           
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            
        </tr>
        }
    </tbody>
</table>
